<html>
  <head>
    <title>LMServe</title>
    <meta name="viewport" content="minimal-ui">
    <link rel="stylesheet" href="/static/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="/static/bootstrap/dist/css/bootstrap-theme.min.css">
  </head>
  <body style="background-color:black;margin:0;padding:0" align="center">
    <div id="lmserve-app"></div>
    
    <script src="/static/jquery/dist/jquery.min.js"></script>
    <script src="/static/underscore/underscore-min.js"></script>
    <script src="/static/backbone/backbone.js"></script>
    <script src="/app/app.js"></script>

    <script type="text/template" id="album-summary-template">
      <button class="btn btn-lg select-album"><%- name %> (<%= photos.length %>)</button>
    </script>

    <script type="text/template" id="album-detail-template">
      <p>
        <span class="title h2"></span>
        <button class="btn btn-lg backward first">1</button>
        <button class="btn btn-lg backward prev-fast">-10</button>
        <button class="btn btn-lg backward prev">-1</button>
        <button class="btn btn-lg forward next">+1</button>
        <button class="btn btn-lg forward next-fast">+10</button>
        <button class="btn btn-lg forward last">..</button>
        <button class="btn btn-lg close-album">Close</button>
      </p>
      <img class="even">
      <img class="odd">
    </script>
  </body>
</html>
