<html>
  <head>
    <title>LMServe</title>
    <link rel="stylesheet" href="/static/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="/static/bootstrap/dist/css/bootstrap-theme.min.css">
  </head>
  <body>
    <div id="lmserve-app"></div>
    
    <script src="/static/jquery/dist/jquery.min.js"></script>
    <script src="/static/underscore/underscore-min.js"></script>
    <script src="/static/backbone/backbone.js"></script>
    <script src="/app/app.js"></script>

    <script type="text/template" id="album-summary-template">
      <h3 class="select-album"><%- name %> (<%= photos.length %>)</h3>
    </script>

    <script type="text/template" id="album-detail-template">
      <h3><%- name %> (<%= photos %>)</h3>
      <button class="close-album">Close</button>
    </script>
  </body>
</html>
